---
layout: default
title: Gartner Magic Quadrant for Application Security Testing
description: "Download the report to learn more about AST and how you can use GitLab to lower your application security risk."
canonical_path: "/resources/report-gartner-mq-ast/"
suppress_header: true
extra_css:
  - styles-2018.css
destination_url: https://learn.gitlab.com/devsecops-ic/2020-gartner-mq-ast?lb_email=
form_id: "1002"
form_type: "resources"
cta_title: "Download the report"
cta_date: 
cta_subtitle: 
link_text: "Click here to download the report"
success_message: "You will also receive a copy of the report to your inbox shortly."
---

.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1.page-headline Gartner Magic Quadrant for Application Security Testing
        %h2.page-headline Gartner Names GitLab as a Niche Player in Magic Quadrant for AST

  .content-container
    .wrapper.container{ role: "main" }
      .row
        .col-xs-12.col-md-6.col-md-offset-1
          .content-section
            %p Security and risk management leaders are being driven by modern application design and the rise of DevSecOps.
            
            %p Gartner estimates "by 2025, 70% of attacks against containers will be from known vulnerabilities and misconfigurations that could have been remediated."

            %h3 What you’ll learn in this Magic Quadrant report:
            %ul
              %li How GitLab placed for the first time as a DevOps Toolchain supplier in this Magic Quadrant
              %li What are the four main types of AST tools enterprises are deploying to secure their applications
              %li Why support for enterprise DevOps initiatives is driving the evolution of the AST market

            %p Download the report to learn more about AST and how you can use GitLab to lower your application security risk.
            
            %p{style: "color: gray; font-size: .9em; font-style: italic;"} Gartner does not endorse any vendor, product or service depicted in its research publications, and does not advise technology users to select only those vendors with the highest ratings or other designation. Gartner research publications consist of the opinions of Gartner’s research organization and should not be construed as statements of fact. Gartner disclaims all warranties, express or implied, with respect to this research, including any warranties of merchantability or fitness for a particular purpose.

            %p{style: "color: gray; font-size: .9em; font-style: italic;"} Gartner, Magic Quadrant for Application Security Testing, Mark Horvath, Dionisio Zumerle, Dale Gardner, 29 April 2020

        .col-md-4.col-md-offset-1
          = partial "includes/form-to-resource", locals: { destination_url: current_page.data.destination_url, form_id: current_page.data.form_id, form_type: current_page.data.form_type, cta_title: current_page.data.cta_title, cta_date: current_page.data.cta_date, cta_subtitle: current_page.data.cta_subtitle, link_text: current_page.data.link_text, success_message: current_page.data.success_message }
